<header>
  <h1 class="header-title"><a href="/">Jeff Green</a></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/uses">Uses</a></li>
    </ul>
  </nav>
</header>
