<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Jeff Green is a web developer working for Crown Lane Creative in Richmond, VA." />
    <title>Jeff Green - Web developer in Richmond, VA - Specializing in WordPress and Shopify websites</title>
    <link rel="canonical" href="https://www.hirejeffgreen.com/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-TileColor" content="#24ff2d" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500;1,800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500;1,800&display=swap" />
    <style>{% include 'bundle.css'  %}</style> 
    <!-- Begin GA4 tag -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JF4P3WLP32"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JF4P3WLP32');
    </script>
    <!-- End GA4 tag -->
  </head>
  <body>
    {% include '_header.html' %}
    
    <main>
      <section class="about">
        <h2>About me</h2>
        <p>I&rsquo;m a web developer at <a href="https://www.crownlanecreative.com/">Crown Lane Creative</a>&nbsp;in Richmond, VA.</p>
        <p>Questions? <a href="https://www.linkedin.com/in/jeffgreenweb/">Message me on LinkedIn</a>&nbsp;or <a href="https://www.crownlanecreative.com/contact-us/">submit your project details on the Crown Lane contact form</a>.</p>
        <ul class="about-links">
          <li><a href="https://www.linkedin.com/in/jeffgreenweb/">LinkedIn</a></li>
          <li><a href="https://github.com/jeffgreendesign">GitHub</a></li>
        </ul>
      </section>

      <section class="projects">
        <h2>Projects</h2>
        <div class="project-wrap">
          <div class="project">
            <h3 class="project-title">
              <a href="https://neighborrva.com/">Neighbor</a>
            </h3>
            <ul class="project-tags">
              <li><a href="https://wordpress.org/">WordPress</a></li>
              <li><a href="https://wordpress.org/themes/hello-elementor/">Hello Elementor</a></li>
              <li><a href="https://wordpress.org/plugins/elementor/">Elementor Pro</a></li>
              <li><a href="https://wpengine.com/">WP Engine</a></li>
            </ul>
          </div>

          <div class="project">
            <h3 class="project-title">
              <a href="https://edatasupport.com/">eData Support</a>
            </h3>
            <ul class="project-tags">
              <li><a href="https://wordpress.org/">WordPress</a></li>
              <li><a href="https://wordpress.org/themes/hello-elementor/">Hello Elementor</a></li>
              <li><a href="https://wordpress.org/plugins/elementor/">Elementor Pro</a></li>
              <li><a href="https://www.gravityforms.com/">Gravity Forms</a></li>
              <li><a href="https://www.godaddy.com/">GoDaddy</a></li>
            </ul>
          </div>

          <div class="project">
            <h3 class="project-title">
              <a href="https://usenergymanagement.com/">U.S. Energy Management</a>
            </h3>
            <ul class="project-tags">
              <li><a href="https://wordpress.org/">WordPress</a></li>
              <li><a href="https://wordpress.org/themes/astra/">Astra</a></li>
              <li><a href="https://wordpress.org/plugins/elementor/">Elementor Pro</a></li>
              <li><a href="https://www.gravityforms.com/">Gravity Forms</a></li>
              <li><a href="https://www.godaddy.com/">GoDaddy</a></li>
            </ul>
          </div>

          <div class="project">
            <h3 class="project-title">
              <a href="https://cscleanair.com/">CS Air & Environmental</a>
            </h3>
            <ul class="project-tags">
              <li><a href="https://wordpress.org/">WordPress</a></li>
              <li><a href="https://wordpress.org/themes/astra/">Astra</a></li>
              <li><a href="https://wordpress.org/plugins/elementor/">Elementor Pro</a></li>
              <li><a href="https://www.gravityforms.com/">Gravity Forms</a></li>
              <li><a href="https://www.godaddy.com/">GoDaddy</a></li>
            </ul>
          </div>

          <div class="project">
            <h3 class="project-title">
              <a href="https://grovetalentgroup.com/">Grove Talent Group</a>
            </h3>
            <ul class="project-tags">
              <li><a href="https://wordpress.org/">WordPress</a></li>
              <li><a href="https://wordpress.org/themes/astra/">Astra</a></li>
              <li><a href="https://wordpress.org/plugins/elementor/">Elementor Pro</a></li>
              <li><a href="https://www.gravityforms.com/">Gravity Forms</a></li>
              <li><a href="https://wpengine.com/">WP Engine</a></li>
            </ul>
          </div>

          <div class="project">
            <h3 class="project-title">
              <a href="https://magazine.vcu.edu/">VCU Magazine</a>
            </h3>
            <div class="project-description">
              <p>Front end web development for the VCU Magazine, produced by VCU Development and Alumni Relations.</p>
            </div>
          </div>

          <div class="project">
            <h3 class="project-title">
              <a href="https://www.alumnicharity.org/">Alumni Charity Challenge</a>
            </h3>
            <div class="project-description">
              <p>Web design and development for the VCU RVA GOLD Alumni Charity Challenge, using the Bootstrap framework.</p>
            </div>
          </div>

          <div class="project">
            <h3 class="project-title"><a href="https://bpm.pharmacy.vcu.edu/">Center for Biomarker Research &amp; Precision Medicine</a></h3>
            <div class="project-description">
              <p>Front end web development for a VCU School of Pharmacy department website on the Terminalfour (T4) CMS.</p>
            </div>
          </div>

          <div class="project">
            <h3 class="project-title"><a href="https://www.support.vcu.edu/give">VCU Giving</a></h3>
            <div class="project-description">
              <p>Front end web development with the Bootstrap framework. Ongoing maintenance and upgrades.</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include '_footer.html' %}
  </body>
</html>
